@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(157, 3, 171);
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(157, 3, 171);
    --foreground: #171717;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
#syncplate_privacy h1 {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 10px;
}
#syncplate_privacy section {
  padding-top: 30px;
}
#syncplate_privacy section > h2 {
  font-weight: bold;
}
#syncplate_privacy section > h2 {
  font-weight: bold;
}
#syncplate_privacy section a {
  color: blue;
  text-decoration: underline;
}